* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: rgb(17, 28, 50);
  height: 100%;
  color: white;
}

#root {
  height: 100%;
}

@media(max-width:998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width:768px) {
  html {
    font-size: 45%;
  }
}